header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 92px 0px 92px 0px;
  padding-left: 51px;
  padding-right: 49px;
  max-width: 100%;
}

.header__menu {
  display: flex;
  align-items: baseline;
  list-style: circle;
  column-gap: 32px;
}

.header__links-list {
  white-space: nowrap;
  font-size: 20px;
}

.header__link {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
}

.links-item_no-bullit {
  list-style: none;
  text-decoration-line: none;
}

.header__logo {
  justify-self: center;
  height: 105px;
}

address {
  display: flex;
  justify-self: end;
  flex-direction: column;
  width: 240px;
  flex-shrink: 0;
}

.header__address {
  text-underline-position: under;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.cover {
  margin-top: 92px;
  max-width: 100%;
  min-height: 757px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  z-index: 3;
}

.cover__overlay {
  height: 757px;
  min-width: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.6000000238418579);
}

.cover__title {
  flex-shrink: 0;
  display: grid;
  row-gap: 6px;
  padding-top: 165px;
  z-index: 5;
  position: relative;
  max-width: 100%;
  padding-left: 50px;
}

p {
  display: inline;
}

.cover__aligned-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  padding-right: 110px;
}

.cover__aligned-text-right {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}

.cover__letter-spacing-extended {
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.cover__no-letter-spacing {
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__last-word {
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  text-transform: uppercase;
}

.cover__description {
  margin: 127px 50px 50px 422px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 6;
  position: relative;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  width: 633px;
  word-spacing: 17.5px;
}

.cover__bet-button {
  background-color: transparent;
  width: 257px;
  border: 1px solid #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  padding-top: 11px;
  padding-bottom: 12px;
}

.lots {
  margin-top: 180px;
  margin-right: 50px;
  margin-left: 50px;
}

.lots__heading {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  margin-top: 27px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
}

.lots__card-list-item {
  list-style-type: none;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 430px;
}

.lots__card-link {
  text-decoration: none;
}

.lots__card-film {
  min-height: 450px;
  background-size: cover;
  background-image: url(../images/card-lot-01.jpg);
  min-width: 430px;
  height: 450px;
  padding: 50px 40px 50px 40px;
}

.lots__card-book {
  min-height: 450px;
  background-size: cover;
  background-image: url(../images/card-lot-02.jpg);
  min-width: 430px;
  height: 450px;
  padding: 50px 40px 50px 40px;
}

.lots__card-picture {
  min-height: 450px;
  background-size: cover;
  background-image: url(../images/card-lot-03.jpg);
  min-width: 430px;
  height: 450px;
  padding: 50px 40px 50px 40px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.lots__card-title {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__card-text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  display: block;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  margin-top: 30px;
  text-decoration-line: underline;
  text-underline-position: under;
}

.about {
  margin-top: 180px;
  margin-left: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}

.about__logo {
  display: flex;
  margin-left: 95px;
  margin-right: 95px;
  background-color: #000;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/logo-white.svg);
  background-size: 148px 114px;
  box-sizing: border-box;
  background-position: center;
  width: 240px;
  height: 240px;
}

.about__section-text {
  display: flex;
  flex-direction: column;
  width: 885px;
}

.about__title {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 103px;
  padding-bottom: 92px;
}

.about__text-all {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.about__text {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  display: flex;
  flex-direction: row;
  margin: 184px 50px 90px 50px;
  max-width: 100%;
  justify-content: space-between;
}

.footer__contacts {
  text-underline-position: under;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px; /* 135% */
}

.footer__menu-list {
  text-align: center;
  width: 149px;
}

.footer__menu-link-active {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
}

.footer__social-list-item {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.footer__social-link {
  height: 48px;
  width: 48px;
}